<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller='mainController'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title ng-bind='mainTitle'></title>
    <!-- 引入 angularJS-1.7.8 js文件 -->
    <script src="js/libs/angular.js"></script>
    <!-- 引入主app文件 -->
    <script src="js/apps/app.js"></script>
    <!-- 引入controllers系列文件 -->
    <script src="js/apps/controllers/mainController.js"></script>
    <script src="js/apps/controllers/commentController.js"></script>
    <script src="js/apps/controllers/nameListController.js"></script>
    <!-- 引入 bootstrap-4.3.1 样式文件 -->
    <link rel="stylesheet" href="css/libs/bootstrap.css">
</head>

<body>
    <br /><br /><br />
    <div class="container">
        <div class="row">
            <!-- 栅格思想：12 完美的分割，12的公约数最多 -->
            <div class="col-xs-3"></div>
            <!-- 也可以这么写：col-xs-6 col-xs-offset-3 表示向另一边偏移3份的距离 -->
            <div class="col-xs-6">
                <!-- 评论模块 -->
                <div class="input-group">
                    <input type="text" class="form-control" ng-model='comt'>
                    <span class="input-group-btn">
                        <button class="btn btn-primary" ng-click='submitComment(comt)'>评论</button>
                    </span>
                </div>
                <!-- 评论标题 -->
                <h4 ng-show='commentArr.length>0'>评论</h4>
                <!-- 评论内容 -->
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat='comment in commentArr track by $index'>
                        <span>{{comment}}</span>
                        <!-- javascript:;表示禁止跳转，但是还是超链接，能执行超链接的点击操作 -->
                        <a href="javascript:;" class="btn btn-danger" ng-click='deleteComment($index)'>删除本条评论</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
    <ul ng-controller = 'nameListController'>
        <li ng-repeat = 'liInfo in liInfoList track by $index'>{{liInfo}}</li>
    </ul>
    <script>
        /*
            1、ng-controller与多控制器思想
            描述：能够看到angular的操作，实际上脚本代码都是写在controller之中的，
                 而刚刚我们将所有的脚本都堆积到一个控制器中的操作
                 虽然理解上变得容易，但是实际开发过程中则会造成灾难。

                 所以为了便于团队开发，为了便于维护
                 NG提出了【多控制器思想】
            说明：
                （1）多控制器思想：
                    类似于div中的布局思想，是将控制器按照页面的不同模块功能进行切分，
                    一个控制器只用来控制一个功能模块，多个控制器之间互不影响，独立工作，
                （2）优势：
                    分工明确，代码清晰，便于维护
                    当系统出现问题，能够立即定位到问题坐标
                （3）弊端：
                    对于初学者而言，前期代码的架构会变得很繁琐，对初学者不是很友好。
            强调：
                （1）每一个控制器只要被声明，就必须通过.controller实现
                    即便控制器中没有代码，也必须写出。
                （2）每一个控制器作用域可以认为是嵌套的，
                    即外层controller可以直接访问到内层controller内的NG变量。
                    而同级controller之间互不影响。
                （3）对于程序，习惯上mainController作为用户默认加载页面的根控制器，
                    有且仅有唯一一个。
        */
    </script>
</body>
</html>