<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imooc-09</title>
    <style>
        body {
            /* 去掉元素默认的8px外边距 */
            margin: 0px;
            /* 设置内边距 */
            padding: 100px;
        }

        h1 {
            /* 去掉元素默认的外边距 */
            margin: 0px;

            width: 100px;
            height: 50px;
            background-color: yellow;

            /* 设置相对定位，只设置相对定位没有变化 */
            position: relative;
            /* 设置偏移量 */
            /* left: 200px; */
            /* 设置负值，向左移动 */
            left: -100px;
        }
    </style>
</head>
<body>
    <h1>慕课网</h1>
</body>
</html>